/* HEADER */
.content {
    position: relative;
    height: 100%;
}
.content_header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    position: absolute;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.content_header_button {
    background-color: var(--light-blue);
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
}
.content_header_button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}
.content_header_button-second {
    background-color: var(--light-blue);
    border-radius: 5px;
    color: var(--white);
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_header_button-second:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}


/* RESULTS */
.content_results {
    position: absolute;
    width: 100%;
    top: 10%;
    padding-top: 10px;
}
.list-group-item:hover {
    border-color: var(--bs-link-color);
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}
.list-group-item-remove {
    color: var(--red);
}
.list-group-item-remove:hover {
    color: var(--dark-red);
}



/* FOOTER */
.content_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--border-color);
    position: absolute;
    height: 5%;
    width: 100%;
    bottom: 0;
    color: var(--light-grey);
}

.content_footer > a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.content_footer > * {
    margin: 0 5px;
}
